nav > ul > li {
    display:inline;
    margin-right: 10px;
}
nav li > a{
    
    text-decoration: none;
    font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}
footer{
    text-align: center;
    background-color: black;
    background-size: 300px;

}
footer > p > smalla{
    text-decoration: white;
}
main > header > h2{
    text-align: center;
    te
}